<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gfx.vms.common.dao.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.gfx.vms.common.entity.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
    <select id="getRolesByUserId" resultType="java.lang.String">
      SELECT role_id from role r LEFT JOIN user_role ur on r.role_id = ur.r_id WHERE ur.u_id = ${userId}
    </select>
</mapper>